/* src/Components/advancedSearchModal.css */
.modal-advanced {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content-advanced {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
  }
  
  .close-advanced {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-advanced:hover,
  .close-advanced:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .form-row-advanced {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .form-group-advanced {
    flex: 1;
    min-width: 120px;
    margin-right: 10px;
  }
  
  .form-group-advanced label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group-advanced select,
  .form-group-advanced input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .form-buttons-advanced {
    display: flex;
    justify-content: space-between;
  }
  