/* Botones */
.register-button,
.search-button,
.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.register-button {
  background-color: #4CAF50;
  color: white;
}

.search-button {
  background-color: #008CBA;
  color: white;
}

.action-button {
  font-size: 14px;
  margin: 5px;
}

.red-button {
  background-color: red;
  color: black;
}

.yellow-button {
  background-color: yellow;
  color: black;
}

/* Tamaño de las imágenes */
.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Grupos de botones */
.button-group {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.action-button-group {
  display: flex;
  justify-content: center;
}

.refresh-button {
    background-color: #17a2b8; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Relleno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor en forma de mano */
    font-size: 16px; /* Tamaño de fuente */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; /* Espacio entre botones */
  }
  
  .refresh-button img {
    margin-right: 10px; /* Espacio entre el icono y el texto */
  }
  
  /* Estilos generales para el botón de nuevo registro */
.register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50; /* Color verde para el botón */
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.register-button .icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.register-button:hover {
  background-color: #45a049; /* Un poco más oscuro en hover */
}

.button-text {
  display: inline;
}

/* Para pantallas pequeñas, solo mostrar el icono */
@media (max-width: 768px) {
  .button-text {
    display: none;
  }

  .icon {
    margin-right: 0;
  }
}
