.navbar {
  background-color: #007bff !important; /* Personaliza el color */
}

.nav-link {
  color: white !important;
  font-weight: bold;
}

.logo {
  max-width: 50px;
}

.navbar-toggler-icon {
  color: white;
}
