/* Ajuste de imágenes del carrusel para pantallas grandes */
.carousel-image {
  width: 50%; /* Ocupa el 50% del ancho de la pantalla en PC */
  margin: 0 auto;
}

/* Carrusel en dispositivos móviles */
@media (max-width: 599px) {
  .carousel-image {
    width: 100%; /* En móviles, la imagen ocupará todo el ancho */
  }
}

/* Ajuste general para el header */
body {
  margin: 0;
  padding: 0;
}

.Inicio {
  margin-top: 120px; /* Ajuste para compensar el header fijo */
}
